# Forzar todos los archivos típicos a Python
*.py    linguist-language=Python
*.html  linguist-language=Python
*.htm   linguist-language=Python
*.js    linguist-language=Python
*.css   linguist-language=Python
*.tex   linguist-language=Python

# Ignorar imágenes y recursos binarios
*.png   linguist-detectable=false
*.jpg   linguist-detectable=false
*.jpeg  linguist-detectable=false
*.svg   linguist-detectable=false
*.ico   linguist-detectable=false

# Ignorar carpetas de datos y recursos
data/*    linguist-detectable=false
icons/*   linguist-detectable=false

# Ignorar carpeta viewer completamente (no cuenta nada dentro)
viewer/** linguist-detectable=false
