# Forzar que los archivos Python y HTML se cuenten como Python
*.py   linguist-language=Python
*.html linguist-language=Python
*.htm  linguist-language=Python

# Ignorar completamente los archivos TeX para que no influyan en las estadísticas
*.tex  linguist-detectable=false

# Ignorar imágenes y recursos
*.png  linguist-detectable=false
*.jpg  linguist-detectable=false
*.jpeg linguist-detectable=false
*.svg  linguist-detectable=false
*.ico  linguist-detectable=false

# Ignorar carpetas de datos y recursos
data/*  linguist-detectable=false
icons/* linguist-detectable=false
